<!DOCTYPE html>

<html>
<head>
    <!--meta information de la page Index-->
    <title>HN - TPLOCAL</title>
    <!--lien vers la feuille CSS Index-->
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <!--Récupération de l'image HN dans le dossier ressources-->
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <!--Titre de la page Index-->
        <h1>Bienvenue dans le TP HN</h1>
    </header>
    <nav>
        <ul>
            <!--Liens vers la page Formulaire-->
            <li><a href="/Home/Index/Formulaire">Remplir le formulaire</a></li>
            <!--Liens vers la page Liste avis-->
            <li><a href="/Home/Index/ListeAvis">Liste avis</a></li>
        </ul>
    </nav>
    <section>
        <p>
            <!--Liens vers la page Formulaire-->
            <a href="/Home/Index/Formulaire">Remplir le formulaire </a>
        </p>
    </section>
</body>
</html>
